<!DOCTYPE html>
<html>
<head>
<title>PhotoDetector</title>
<link rel="stylesheet" href="static/css/style.css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<header>
<h1>Photo Detector</h1>
</header>

<form>
<small>This detector detects photo related details after uploading photo. All you need to do is first upload the file you want to detect, and get result immediately.</small><br><br>

<span class="btn btn-info btn-file">
    Browse...<input type="file" name="file">
</span>
<input type="submit" name="upload" value="Upload" class="btn btn-success">
</form>
</body>
</html>

